body {
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    line-height: 2; 
    overflow: visible;
}
html {
    margin: 0px;
    overflow: visible;
}
.container {
    text-align: center;
    border-style: none;
}
button {
    display: block;
    display: block;
    margin: 10px auto 50px;
    color: white;
    background: #55c2e6;
    border: 3px solid white;
    border-radius: 10%;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
#nothing {
    color: #55c2e6;
}
a {
    text-decoration: none;
    color: white;
}
header {
    background: #55c2e6;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 300;
/*    letter-spacing: 1px;*/
    font-size: 20px;
}

input[type="text"]{
    font-family: 'Oswald', sans-serif;
    border-radius: 2%;
}
input[type="password"]{
    font-family: 'Oswald', sans-serif;
    border-radius: 2%;
}

.header-container{
    background: #FFB521;
    position: relative;
}

.header-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 200px;
  background: #FFB521;
    z-index: -1;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

.footer-container {
background: #55c2e6;
position: relative;

}

.footer-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 100px;
  background: #55c2e6;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}