{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  </head>
    <div class="container">
  <form action="" method=post>
      
        <button style="margin-right: 20px; text-shadow: 0.5px 0.5px 0.5px black;"><a href="login.html">Login</a></button>

    <div class="container">
        <h1>Convene</h1>

        <input id="email" type="text" placeholder="Enter your email">
        <input id="username" type="text" placeholder="Enter your username">
        <input id="password" type="password" placeholder="Enter your password">
        <input id="password" type="password" placeholder="Enter your password again">

        <button><a href="dashboard.html">Submit</a></button>
        <button id="google" src="../static/google+_signin_buttons/web/2x/btn_google+_signin_dark_pressed_web@2x.png"><img src="../static/google+_signin_buttons/web/2x/btn_google+_signin_dark_pressed_web@2x.png" width="200" height="50" alt="submit" /></button>
      </div>
   </form>
    </div>
{% endblock %}
